<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown 
					type="RemoteObjects.Customers, RemoteObjects"
					url="tcp://85.88.31.232:8749/Customers" />
			</client>
			<channels>
				<channel ref="tcp client" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>